@page
@model FociWebApp.Pages.UjMeccsekListajaModel

@{
    ViewData["Title"] = "UjMeccsekListaja";
}

<h1>UjMeccsekListaja</h1>

<p>
    <a asp-page="UjMeccsFelvetele">Új felvétele</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].Fordulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].HazaiVeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].VendegVeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].HazaiFelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].VendegFelido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].Hazaicsapat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meccs[0].Vendegcsapat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Meccs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fordulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazaiVeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendegVeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazaiFelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendegFelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hazaicsapat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendegcsapat)
            </td>
            <td>
                <a asp-page="./UjMeccsekSzerkesztese" asp-route-id="@item.Id">Szerkesztés</a> |
                <a asp-page="./UjMeccsekAdatai" asp-route-id="@item.Id">Részletek</a> |
                <a asp-page="./UjMeccsekTörlése" asp-route-id="@item.Id">Törlés</a>
            </td>
        </tr>
}
    </tbody>
</table>
